$jay: purple;

$jayBg: rgb(202, 191, 191);

$colors: (
  depy: cyan,
  vasylynna: green,
  balasim: black,
  kiri: white,
  yusra: pink,
  yuko: lightblue,
  martin: yellow,
  julian: midnightblue,
  marinna: beige,
  sadhana: skyblue,
  sachin: orange,
  hetal: olive,
  sara: red,
);
